SENTINEL_API_BASE_URL=http://localhost:8000
# SENTINEL_HOSTNAME=meu-computador
SENTINEL_COLLECTION_INTERVAL_SECONDS=60
SENTINEL_REQUEST_TIMEOUT_SECONDS=10
SENTINEL_MAX_RETRY_ATTEMPTS=5
SENTINEL_RETRY_BASE_DELAY_SECONDS=1
SENTINEL_LOG_LEVEL=INFO
